{{ with .Site.Params.giscus }}
<div id="disqus_thread"></div>

<script src="https://giscus.app/client.js"
        data-repo="jeqo/jeqo.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnk3ODM0ODMyMQ=="
        data-category="Announcements"
        data-category-id="DIC_kwDOBKuAIc4CP1oE"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
